@import url(‘https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap’);

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto mono", monospace;
   
}

body{
    font-size: 62.5%;
    min-width: 319px;
}

header{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header-icon{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    background-color: #47cfac;
}

.header-icon a {
    text-decoration: none;
    color: white ;
    font-size: 50px;
    
}

nav{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
    height: auto;
    text-align: center;
    justify-items: center;
}

nav a {
    color: black;
    text-align: center;
    text-decoration: none;
}

nav a:nth-child(2){
    margin-right: 20px;
    font-size: 20px;
    font-family: "Roboto mono", monospace;
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info{
    width: 100%;
    background-color: rgb(228, 237, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.profile-info_img{
    width: 95%;
    max-width: 550px;
    height: auto;
}

.profile-info_img img{
    width: 100%;
    object-fit: cover;
}

.profile-info_data{
    width: 95%;
    max-width: 550px;
}

.profile-info_data h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.profile-info_data p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 20px;
}

.projects-title{
    margin: 20px auto;
    font-size: 2rem;
    font-weight: bold;
}

.projects-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.project-card{
    width: 100%;
    max-width: 320px;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 15px;
    padding: 5px;
}

.project-card h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.project-card p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 20px;
}

.contact-container{
    width: 100%;
    height: 400px;
    background-color: rgb(228, 237, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.newsletter{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    align-items: center;
}

.newsletter-img{
    width: 100px;
    height: auto;
    text-align: center;
    
}

.newsletter-img img{
    width: 100%;
    object-fit: cover;
}

.newsletter-info h4{
    font-size: 1.5rem;
    font-weight: bold;
}


.newsletter-info p{
    font-size: 1.3rem;
    font-weight: 500;
    max-width: 350px;
}

.like{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    
    align-items: center;
}

.like-img{
    width: 100px;
    height: auto;
    text-align: center;
    
}

.like-img img{
    width: 100%;
    object-fit: cover;
}

.like-info h4{
    font-size: 1.5rem;
    font-weight: bold;
}


.like-info p{
    font-size: 1.3rem;
    font-weight: 500;
    max-width: 350px;
}

@media screen and (min-width:769px) {

    .profile-info{
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
    }

    .profile-info_img{
        max-width: 400px;
    }
    
    .profile-info_data{
        max-width: 400px;
        margin-left: 20px;
    }

    .projects-container{
        flex-direction: row;
    }

    .contact-container{
        height: 300px;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}
